.LoginWrapper{
    display: flex;
    justify-content: center;
}

.LoginCard{
    margin: 1%;
    width: 26vw;
}

.img-car{
    height: 590px;
    width:441px ;
    position:relative;
}

.car{
    position: absolute;
    height:423px ;
    width:241px;

    left: 143px;
    top:93px;

}